$primaryClr : rgb(69, 69, 75);

.pagination{
    width: 100%;
    min-height: 40px;
    margin: auto;
    text-align: center;
    margin: 20px;
    button{
        margin: 10px;
        padding: 15px;
        font-size: larger;
        font-weight: 500;
        background-color: $primaryClr;
        border: none;
        color: white;
        cursor: pointer;
        border-radius: 5px;
        border: 1px solid transparent;
        transition: 250ms ease-in-out all;
    }
    button:hover{
        color: $primaryClr;
        background-color: white;
        font-weight: 700;
        border: 1px solid $primaryClr;
    }
    .active{
        color: $primaryClr;
        background-color: white;
        font-weight: 700;
        border: 1px solid $primaryClr;
    }
}
.products{
    .flexH3{
        display: flex;
        width: 100%;
    }
    .onSale{
        background-color: rgb(255, 81, 0);
        color: white;
        font-weight: 550;
        writing-mode: vertical-rl;
        text-orientation: upright;
        min-height: 100px;
        padding: 10px;
        position: absolute;
        top: 0;
        right: 0;
        border-bottom-left-radius: 7px;
        border-bottom-right-radius: 7px;
    }
    .crossedOver{
        text-decoration: line-through;
        text-decoration-color: black;
        text-decoration-thickness: 2px;
        width: min-content;
        margin-left: auto;
        padding-right: 10px;
    }
    .notCrossedOver{
        width: min-content;
        margin-right: auto;
        padding-left: 10px;
        color: seagreen;
    }
    display: flex;
    flex-direction: column;
    .filterSearch{
        padding: 5px;
        div:first-child{
            width: 100%;
        }
        .textField{
            h3{
                text-align: center;
                margin-bottom: 0;
            }
            margin-top: 20px;
            width: 100%;
            margin-bottom: 40px;
            gap: 200px;

            .forWho{
                padding: 10px;
                width: 100%;
                display: flex;
                flex-direction: row;
                color: rgb(67, 67, 67);
                span{
                    h4{
                        margin-top: 10px;
                    }
                    width: 100%;
                    margin-top: 20px;
                    border-bottom: 1px solid gray;
                    padding-bottom: 7px;
                    input, label{
                        cursor: pointer;
                    }
                    div{
                        margin-bottom: 5px;
                    }
                }
            }


    }
}
    .productsPanel{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 92%;
        margin: auto;
        .card{   
            margin: 2vh;
            transform: scale(1.0);
            border-radius: 8px;
            transition: ease-in-out all 200ms;
            z-index: 1;
            -webkit-box-shadow: 0px 0px 36px -3px rgba(0,0,0,0.75);
            -moz-box-shadow: 0px 0px 36px -3px rgba(0,0,0,0.75);
            box-shadow: 0px 0px 36px -3px rgba(0,0,0,0.75);
            display: flex;
            flex-direction: column;
            text-align: center;
            border-radius: 10px;
            flex: 1;
            margin: 15px 5px;
            min-width: 220px;
            img{
                width: 80%;
                object-fit: cover;
                height: 250px;
                margin: auto;
                max-width: 100%;
            }
            h2{
                padding-top: 30px;
                height: 60px;
                margin: 5px;
            }
            h3{
                color: rgb(6, 85, 6);
                min-height: 50px;
            }
            h4{
                color: $primaryClr;
                cursor: pointer;
                transform: scale(1.0);
            }
            h5{
                margin: 0;
            }
            h4:hover{
                transform: scale(1.1);
                transition: transform ease-in-out 250ms;
            }
            .blackOverlay{
                width: 100%;
                border: none;
                padding: 0;
                margin: 0;
                position: relative;
                bottom: 0;
                left: 0;
                right: 0;
                height: 20%;
                z-index: 1;
                
                p{
                    padding-top: 20px;
                    color: rgba(255, 255, 255, 0);
                    font-size: larger;
                    font-weight: 500;

                }
                button{
                    cursor: pointer;
                    opacity: 1;
                    background-color: transparent;
                    border: none;
                }
                svg{
                    margin-top: 20px;
                    width: 100px;
                    height: 100px;
                    color: $primaryClr
                }
            }

                
        }

    }

}
@media only screen and (min-width: 1000px) {
  .products{
      flex-direction: row;
      .search{
          input{
              min-width: 50%;
          }
      }
      .filterSearch{
          padding: 30px;
          .textField{
            .forWho{
                flex-direction: column;
            }
          }
      }
    .productsPanel{
        grid-template-columns: 1fr 1fr 1fr;
        margin: auto;
        width: 80%;
        .card{
            margin: 2vh;
            transform: scale(1.0);
            border-radius: 8px;
            transition: ease-in-out all 200ms;
            z-index: 1;
            .blackOverlay:hover{
                background: rgb(0, 0, 0, 0.6);
                border-bottom-left-radius: 7px;
                border-bottom-right-radius: 7px;
                p,svg{
                    color: rgba(255, 255, 255, 1) !important;
                }
                svg:hover{
                    color: $primaryClr;
                    transform: scale(1.2);
                    transition: ease-in-out all 250ms;
                }
            }
            .blackOverlay{
                width: 100%;
                border: none;
                padding: 0;
                margin: 0;
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                height: 50%;
                z-index: 1;
                background: rgba(0, 0, 0, 0);
            }
            svg{
                padding-top: 50px;
                color: rgb(255, 255, 255, 0.0) !important;
            }
        }
        .card:hover{
            transform: scale(1.1);
        }
    }
}
}
@media only screen and (max-width: 600px) {
    .products{
        .productsPanel{
            grid-template-columns: 1fr;
        }
        .card{
            
            min-width: 150px !important;
            min-height: 150px !important;
            p{
                padding: 20px;
            }
            h2{
                font-size: large;
            }
            h3{
                font-size: medium;
            }
            h4{
                font-size: small;
            }
            img{
                min-height: 150px;
            }
            .blackOverlay{
                height: 60px !important;
                svg{
                    padding: 0 !important;
                    margin: 0 !important;
                    width: 50px !important;
                    height: auto !important;
                }
            }

        }
    }
}