$primaryClr : rgb(90, 90, 94);
.orderPanel{
    width: 100%;
    height: 100%;
    background-color:$primaryClr;
    color: white;
    min-height: fit-content;
    .noOrders{
        padding: 10%;
        display: flex;
        align-items: center;
        h3{
            margin: 0;
            padding-left: 20px;
        }
    }
    p{
        padding: 50px;
        margin: 0;
    }
            .fdisplay{
                display: flex;
                padding: 20px;
                button{
                    white-space: nowrap;
                    margin-left: auto;
                    align-self: center;
                    margin-top: auto;
                    margin-bottom: auto;
                }
                input{
                    padding: 5px;
                    align-self: center;
                    min-width: 40px;
                    margin-right: auto;
                    width: auto;
                }
            }
            .userItem{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                padding: 20px;
                border: 1px solid gray;
                .link{
                    color: rgb(73, 155, 255);
                }
                .icons{
                    cursor: pointer;
                    svg{
                        margin-right: 15px;
                        transition: all 150ms ease-in-out;
                    }
                    svg:hover{
                        color: rgb(27, 124, 250) !important;
                    }
                }
                b,p{
                    text-align: center;
                    align-self: center;
                }
                .icons{
                    display: flex;
                    margin: auto;
                button{
                    border: none;
                    background-color: transparent;
                    padding: 0;
                    margin: 5px;
                    
                }
                }
            }

}
@media only screen and (max-width: 730px) {
    .orderPanel{
        font-size: small;
        .userItem{
            padding: 3%;
            p{
                padding: 3%;
            }
        }
    }
}
@media only screen and (max-width: 400px){
    .orderPanel{
        font-size: xx-small;
        min-height: fit-content;
    }
}