$primaryClr : rgb(90, 90, 94);


.orderPanel{
    width: 100%;
    height: 100%;
    background-color:$primaryClr;
    color: white;
    p{
        padding: 50px;
        margin: 0;
    }
}