$primaryClr : rgb(92, 97, 248);

.footer{
    margin-top: 20px;
    color: white;
    text-align: center;
    button{
        background-color: transparent;
        border: 1px white solid;
        color: white;
        padding: 10px;
        margin: 10px;
        cursor: pointer;
        transition: all 250ms ease-in-out;
    }
    button:hover{
        color: black;
        background-color: white;
    }
    .upperFooter{
        h2{
            font-weight: 300;
        }
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 200px;
        background-color: $primaryClr;
        div{
        }
    }
    .lowerFooter{
        width: 100%;
        min-height: 300px;
        background-color: rgb(31, 31, 31);
        p{
            margin: 0;
            padding: 20px;
            font-size: x-large;
        }
        div{padding: 10px;
            a{
                color: white;
                margin: 10px;
            }
            input{
                padding: 10px;
                background-color: transparent;
                border: 1px solid white;
                color: white;
            }
        }
    }
}