$primaryClr : rgb(69, 69, 75);

.work{
    display: flex;
    
    .workSidebar{
        background-color: $primaryClr;
        border-bottom: 1px solid rgb(79, 79, 87);
        border-top: 1px solid rgb(79, 79, 87);
        width: 25%;
        
    }
    .workPanel{
        width: 100%;
    }
}
@media only screen and (max-width: 730px) {
.work{
    flex-direction: column;
    .workSidebar{
        width: 100%;
        min-height: fit-content;
        height: 412px;
    }
}
}